.thumbnail {
    background-image: url("../../headshots-041.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px; 
    position: absolute;
    top: 5%;
    left: 5%; 

  }